<app-dialog-header [title]="(isEdit ? 'Edit' : 'Create') + ' Opportunity'"></app-dialog-header>
<div class="dialog-content-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="opportunity-form">
        <app-progress-spinner *ngIf="loading; else isLoaded"></app-progress-spinner>
        <ng-template #isLoaded>
            <formly-form [fields]="fields" [options]="options" [form]="form" [model]="model"></formly-form>
        </ng-template>
    </form>
</div>
<div class="dialog-footer" *ngIf="!loading">
    <div class="dialog-cancel-button" mat-dialog-close *ngIf="!updating">Close</div>
    <div class="dialog-cancel-button" *ngIf="updating">Close</div>
    <div class="dialog-submit-button" cdkFocusInitial (click)="onNext()" *ngIf="!isEdit && !firstStepCompleted">Next</div>
    <div class="dialog-submit-button" cdkFocusInitial (click)="onSubmit()" *ngIf="!isEdit && firstStepCompleted">Create</div>
    <div class="dialog-submit-button" cdkFocusInitial (click)="onSubmit()" *ngIf="isEdit && !updating">Update</div>
    <div class="dialog-submit-button" *ngIf="isEdit && updating">
        <app-progress-spinner [size]="small"></app-progress-spinner>
    </div>
</div>

