<app-dialog-header title="Create Opportunity"></app-dialog-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <formly-form [fields]="fields" [form]="form" [model]="model"></formly-form>
    </mat-dialog-content>
    <div class="dialog-footer">
        <div class="dialog-cancel-button" mat-dialog-close>Close</div>
        <div class="dialog-submit-button" cdkFocusInitial (click)="onNext()" *ngIf="!isEdit && !firstStepCompleted">Next</div>
        <div class="dialog-submit-button" cdkFocusInitial (click)="onSubmit()" *ngIf="!isEdit && firstStepCompleted">Create</div>
        <div class="dialog-submit-button" cdkFocusInitial (click)="onSubmit()" *ngIf="isEdit">Update</div>
    </div>
</form>
