:host{
    position: relative;
    display: block;
}
.dialog-content-wrapper {
    max-height: calc(100% - 3rem);
    padding: 2rem;
    position: relative;
    form {
        overflow-y: auto;
        overflow-x: visible;
        max-height: calc(100% - 3rem);
    }
}