.header-wrapper {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
    clear: both;
}

.header-title {
    font-size: 1.5rem;
    margin: 0;
    float: left;
    padding: 1.5rem 1.75rem 1.5rem 1.75rem;
}

.header-logo {
    float: right;
    width: 5.42rem;
    height: 1.75rem;
    img {
        width: 100%;
    }
    padding: 1.5rem 1.75rem 1.5rem 1.75rem;
}

.header-button {
    width: 2.08rem;
    border-right: 1px solid #fff;
    float: left;
    height: 1.75rem;
    padding: 1.5rem 1.75rem 1.5rem 1.75rem;
    cursor: pointer;

    img {
        max-height: 100%;
    }
}

.header-gears {
    max-height: 3rem;
    width: auto;
}

.header-menu {
    float: right;
    
    .header-menu-link {
        display: inline-block;
        cursor: pointer;
        padding: 0.8rem 1.75rem 0.6rem 1.75rem;
        border-right: 1px solid #fff;
        img {
            height: 35px;
        }
    }
}

.notification-container {
    position: relative;

    .notification-counter {   
        position: absolute;
        right: -2px;
        background-color: #d4130d;
        color: #fff;
        border-radius: 5px;
        padding: 3px 5px;
        font: 10px Verdana;
    }
}

