.opportunity-list-wrapper {
    padding-top: 4rem;
    background-color: #fff;
}
.opportunity-list-item {
    background: #fff;
    margin-top: 1px;
    overflow: hidden;
    height: 123px;
    font-size: 0.9rem;
    padding: 0 3rem 0 2rem;
    display: flex;
    
    &:nth-child(odd) {
        background-color: #f4f4f4;
    }

    & > div {
        padding: 2rem 0 1rem 0;
    }
    & > div p, & > div div {
        margin-left: 2rem;
        
        &.signal-icon {
            margin-left: 0;
        }
    }

    .opportunity-status {
        width: calc(21% - 1px);
    }

    .opportunity-status,
    .opportunity-name,
    .opportunity-progress {
        color: #98989B;
        font-weight: 700;
        flex: 1;

        p {
            line-height: 1.25rem;
            label {
                font-weight: 700;
            }
        }
    }

    .opportunity-name {
        width: calc(40% - 1px);
        cursor: pointer;

        .opportunity-title {
            font-size: 1.3rem;
            font-weight: 700;
            color: #000;
        }
    }

    .opportunity-progress {
        width: calc(25% - 1px);
        cursor: pointer;
        padding-right: 2%;

        &>p {
            width: 100%;
        }

        .opportunity-progress-value {
            display: inline-block;
            width: 2.5em;
            padding: 0 0.5em;
        }

        app-progress-bar {
            display: inline-block;
            margin-left: 1rem;
        }
    }

    .opportunity-actions {
        width: auto;
        flex: 0 1 auto;
        overflow: hidden;
        height: 100%;
        padding-left: 1rem;
        min-width: 10%;
        display: flex;
        justify-content: flex-end;
        
        &>div {
            width: 43px;
            height: 43px;
            padding-left: 0.5rem;
            cursor: pointer;
            float: left;
            margin: 0 !important;
        }
        &>div:hover {
            opacity: 0.8;
        }
        .opportunity-icon-edit {
            background: url("/assets/opportunity-icons/edit-icon.svg") no-repeat center;
        }
    
        .opportunity-icon-archive {
            background: url("/assets/opportunity-icons/archive-icon.svg") no-repeat center;
        }
    
        .opportunity-icon-restore {
            background: url("/assets/restore.svg") no-repeat center;
        }
    }
}

formly-form {
    display: block;
    width: 100%;
}

.brand-filter-wrapper {
    margin: 0;
    padding: 1.5rem 3rem 0 2rem;
    overflow: hidden;
    height: 4rem;
    background-color: #fff;
    display: flex;

    .brand-filter {
        display: block;
        margin: 0;
        padding: 0;
        flex: 1;

        input {
            border-radius: 10px;
            height: 36px;
        }
    }
    .brand-add {
        .npp-btn {
            height: 36px;
            width: auto;
            min-width: 100px;
            margin: 0;
            padding: 0 2rem;
            line-height: 36px;
        }
    }
}

