<app-dialog-header title="Create {{ stringMapper.getString('Forecast Cycle') }}"></app-dialog-header>
<mat-dialog-content>
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
</mat-dialog-content>
<div class="dialog-footer">
    <div class="dialog-cancel-button" mat-dialog-close *ngIf="!updating">Close</div>
    <div class="dialog-cancel-button" *ngIf="updating">Close</div>
    <div class="dialog-submit-button" cdkFocusInitial (click)="onSubmit()" *ngIf="!updating">Create {{ stringMapper.getString('Forecast Cycle') }}</div>
    <div class="dialog-submit-button" *ngIf="updating">
        <app-progress-spinner [size]="small"></app-progress-spinner>
    </div>
</div>

