<app-npp-header></app-npp-header>
<div class="summary-content-wrapper">
    <div class="summary-graph">
        <div class="header">
            <h4><div class="doc-btn-icon"></div> Brands Insights</h4>
        </div>
        <app-progress-spinner *ngIf="loadingGraphics"></app-progress-spinner>
        <div class="graph">
            <div id="chartTherapyAreas"></div>
        </div>
        <div class="graph">
            <div id="chartIndications"></div>
        </div>
        <div class="next-tasks">
            <div class="next-tasks-title section-title">Brands</div>

            <app-progress-spinner *ngIf="loadingTable"></app-progress-spinner>
            <table *ngIf="!loadingTable">
                <tr>
                    <th>Brand Name</th>
                    <th class="centered-value">{{stringMapper.getString('Forecast Cycle')}}</th>
                    <th class="centered-value">Models</th>
                    <th class="centered-value">{{stringMapper.getString('Approved', 'f')}} Models</th>
                </tr>
                <tr *ngFor="let b of brandData">
                    <td>{{ b.brandName}}</td>
                    <td class="centered-value">{{ b.cycle}}</td>
                    <td class="centered-value">{{ b.modelsCount }}</td>
                    <td class="centered-value">{{ b.approvedModelsCount }}</td>
                </tr>
            </table>
        </div>

        <app-seats-table *ngIf="showSeatsTable()"></app-seats-table>

    </div>
    <div class="summary-notifications">
        <div class="header">
            <h4><div class="bell-btn-icon"></div> Notifications</h4>
        </div>
        <div class="notifications-column">
            <div class="notification-item" *ngFor="let n of notificationsList" [ngClass]="{'isRead': n.ReadAt }">
                {{n.Title}}
            </div>
        </div>
    </div>
</div>
