formly-form {
    display: block;
    width: 100%;
    background-color: #ebebeb;
}

.opportunity-filter-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;

    .opportunity-filter {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}