<app-npp-header [isHome]="false"></app-npp-header>
<div class="opportunity-filter-wrapper">
    <div class="opportunity-filter">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model" (change)="onSubmit()"></formly-form>
        </form>
    </div>
    <div class="opportunity-add">
        <div class="npp-btn" (click)="createOpportunity()">Add Opportunity</div>
    </div>
</div>
<div class="opportunity-list-wrapper">
    <app-progress-spinner *ngIf="loading; else isLoaded"></app-progress-spinner>

    <ng-template #isLoaded>
        <ng-container *ngIf="( opportunities | filter:model.search:model.status:model.type:model.indication | sort:model.sort_by) as result">
        <div class="opportunity-list-item" *ngFor="let item of result">
            <div class="opportunity-status">
                <div>
                    <div class="opportunity-active" *ngIf="item.OpportunityStatus == 'Active'"></div>
                    <div class="opportunity-archived" *ngIf="item.OpportunityStatus == 'Archive'"></div>
                    {{item.OpportunityStatus}}
                </div>
                <p><label>Type: </label>{{item.OpportunityType?.Title}}</p>
            </div>
            <div class="opportunity-name" (click)="navigateTo(item)">
                <p class="opportunity-title">{{item.Title}}</p>
                <p><label>Molecule Name: </label> {{item.MoleculeName}}</p>
                <p><label>Indication: </label> {{item.Indication?.Title}}</p>
            </div>
            <div class="opportunity-progress" (click)="navigateTo(item)">
                <p><label>Progress:</label> {{item.progress}}% <app-progress-bar [progress]="item.progress"></app-progress-bar></p>
                <p *ngIf="item.OpportunityOwner"><label>Opportunity Owner: </label> {{item.OpportunityOwner.FirstName + ' ' + item.OpportunityOwner.LastName}}</p>
                <p><label>Project End Date: </label> {{item.ProjectEndDate | date : 'MMM y'}}</p>
                <p><label>Therapy Area: </label> {{item.Indication?.TherapyArea}}</p>
            </div>
            <div class="opportunity-actions">
                <div class="npp-btn" (click)="archive(item)" *ngIf="item.OpportunityStatus != 'Archive'">Archive</div>
                <div class="npp-btn" (click)="restore(item)" *ngIf="item.OpportunityStatus == 'Archive'">Restore</div>
                <div class="npp-btn" (click)="edit(item)">Edit</div>
            </div>
        </div>
        <h3 *ngIf="result.length === 0" style="text-align: center;">No Results Found</h3>  
        </ng-container>
    </ng-template>
</div>
