.opportunity-list-item {
    background: #f5f5f5;
    margin-top: 1px;
    overflow: hidden;
    
    & > div {
        border-left: 1px solid #fff;
        padding: 1rem 0;
    }
    & > div p, & > div div {
        margin-left: 2rem;

        label {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .opportunity-status {
        width: calc(15% - 1px);
        float: left;

        .opportunity-active {
            background-color: #bdffd1;
            border: 1px solid #94d9a9;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }

        .opportunity-archived {
            background-color: #ffc1b8;
            border: 1px solid #f68b7b;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }
    }

    .opportunity-name {
        width: calc(50% - 1px);
        float: left;
        cursor: pointer;

        .opportunity-title {
            font-size: 1.5rem;
        }
    }

    .opportunity-progress {
        width: calc(35% -1px);
        float: left;
        cursor: pointer;

        app-progress-bar {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}