<app-npp-header [currentSection]="'opportunities'"></app-npp-header>
<div class="opportunity-filter-wrapper">
    <div class="opportunity-filter">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model" (change)="onSubmit()"></formly-form>
        </form>
    </div>
    <div class="opportunity-add">
        <div class="npp-btn" (click)="createOpportunity()" *ngIf="canCreate">Add Opportunity</div>
    </div>
</div>
<div class="opportunity-list-wrapper">
    <app-progress-spinner *ngIf="loading; else isLoaded"></app-progress-spinner>

    <ng-template #isLoaded>
        <ng-container *ngIf="( opportunities | filter:model.search:model.status:model.type:model.indication | sort:model.sort_by) as result">
        <div class="opportunity-list-item" *ngFor="let item of result">
            {{item.Indication.Title }}
            <div class="opportunity-status">
                <div>
                    <div class="signal-icon green-signal" *ngIf="item.OpportunityStatus == 'Active'"></div>
                    <div class="signal-icon red-signal" *ngIf="item.OpportunityStatus == 'Archive'"></div>
                    {{item.OpportunityStatus}}
                </div>
                <p><label>Type: </label>{{item.OpportunityType?.Title}}</p>
            </div>
            <div class="opportunity-name" (click)="navigateTo(item)">
                <p class="opportunity-title">{{item.Title}}</p>
                <p><label>Molecule Name: </label> {{item.MoleculeName}}</p>
                <p><label>Indication: </label> {{item.IndicationAsString}}</p>
                <p><label>Clinical Trial Phase: </label> {{item.ClinicalTrialPhase?.Title}}</p>
            </div>
            <div class="opportunity-progress" (click)="navigateTo(item)">
                <p *ngIf="item.progress >= 0"><label>Progress:</label> <span class="opportunity-progress-value">{{item.progress}}%</span> <app-progress-bar [progress]="item.progress"></app-progress-bar></p>
                <p *ngIf="item.EntityOwner"><label>Opportunity Owner: </label> {{item.EntityOwner.FirstName + ' ' + item.EntityOwner.LastName}}</p>
                <p *ngIf="item.ProjectEndDate"><label>Project End Date: </label> {{item.ProjectEndDate | date : 'MMM y'}}</p>
                <p *ngIf="item.Year"><label>Year: </label> {{item.Year }}</p>
                <p><label>Therapy Area: </label> {{item.TherapyAreaAsString}}</p>
            </div>
            <div class="opportunity-actions">
                <div class="opportunity-icon-edit" matTooltip="Edit Opportunity" *ngIf="currentUser?.IsSiteAdmin || currentUser?.Id == item.EntityOwnerId" (click)="editOpportunity(item)"></div>
                <div class="opportunity-icon-archive" matTooltip="Archive Opportunity" *ngIf="item.OpportunityStatus != 'Archive' && (currentUser?.IsSiteAdmin || currentUser?.Id == item.EntityOwnerId)" (click)="archiveOpportunity(item)"></div>
                <div class="opportunity-icon-restore" matTooltip="Restore Opportunity" *ngIf="item.OpportunityStatus == 'Archive' && (currentUser?.IsSiteAdmin || currentUser?.Id == item.EntityOwnerId)" (click)="restoreOpportunity(item)"></div>
            </div>
        </div>
        <h3 *ngIf="result.length === 0" style="text-align: center;">No Results Found</h3>  
        </ng-container>
    </ng-template>
</div>
