<div class="dashboard-wrapper">
    <img src="assets/layout/j+d_logo_green.svg" alt="J+D" class="jd-logo" />
    <div class="dashboard-welcome">
        <img src="assets/layout/FC365-logo.svg" alt="FC365" />
        <h1>Welcome</h1>
        <h2>Your journey starts here</h2>
        <app-progress-spinner *ngIf="!loadedApp"></app-progress-spinner>
    </div>
    
    <div class="dashboard-items" [@listAnimation]="items.length" *ngIf="loadedApp">
            <div class="dashboard-item" *ngFor="let item of items" (click)="navigateTo(item)" >
                <img src="{{item.src}}"/>
                <div class="dashboard-item-text">
                    <h3>{{item.text}}</h3>
                    {{item.description}}
                </div>
            </div>
    </div>
    <div class="app-version">version {{version}}</div>
</div>