<app-npp-header [currentSection]="'opportunities'"></app-npp-header>
<div class="brand-info-wrapper top-info-wrapper" *ngIf="entity">
    <div class="brand-name">
        <h2>{{entity?.Title}}</h2>
        <p class="brand-forecast-cyle">{{entity?.ForecastCycle?.Title}} {{entity?.Year}} {{entity?.ForecastCycleDescriptor}}</p>
    </div>
    <div class="brand-indication">
        <p><label>BusinessUnit: </label>{{entity?.BusinessUnit?.Title}}</p>
        <p><label>Indication: </label>{{getIndications(entity?.Indication)}}</p>
    </div>
    <div class="brand-dates">
        <!-- <p><label>Forecast Cycle Due Date: </label> {{entity?.FCDueDate | date : 'dd MMM y'}}</p>-->
        <p><label>Therapy Area: </label> {{getTherapyArea(entity?.Indication)}}</p>
        <p *ngIf="entity?.ClinicalTrialPhase"><label>Clinical Trial Phase: </label> {{entity?.ClinicalTrialPhase?.Title}}</p>
    </div>
    <div class="brand-owner">
        <div class="owner-pic">
            <div class="owner-pic-background"></div>
            <img [src]="profilePic" *ngIf="profilePic"/>
        </div>
        <div class="owner-info">
            <div class="owner-info-title"><label>Owner</label></div>
            <div class="owner-info-name">
                {{entity?.EntityOwner?.Title}}
            </div>
        </div>
    </div>
</div>
<div class="folder-and-actions-wrapper opportunity-contents">
    <div class="folder-wrapper left-selection">
        <div class="folder-item-wrapper" *ngIf="documentFolders.length > 1">
            <div class="folder-item left-top-selection"  [ngClass]="{'selected-item': currentSection == 'documents'}" (click)="setSection('documents')">
                <span>Reference Documents</span>
                <svg>
                    <use xlink:href="assets/symbol-defs.svg#icon-chevron"></use>
                </svg>
            </div>
            <div class="folders-wrapper" *ngIf="currentSection == 'documents'">
                <ng-container *ngFor="let folder of documentFolders">
                    <div class="folders-item left-dd-selection" *ngIf="!folder.containsModels" [ngClass]="{'selected-status': selectedFolder.Id === folder.ID}" (click)="setFolder(folder)">
                        <svg>
                            <use xlink:href="assets/symbol-defs.svg#icon-folder"></use>
                        </svg>
                        <span>{{folder.Title}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="folder-item-wrapper" *ngIf="geoFolders.length > 0">
            <div class="folder-item models-folder left-top-selection"  [ngClass]="{'selected-item': currentSection == 'models'}" (click)="setSection('models')">
                <span>Forecast Models</span>
                <svg>
                    <use xlink:href="assets/symbol-defs.svg#icon-chevron"></use>
                </svg>
            </div>
            <div class="folders-wrapper" *ngIf="currentSection == 'models'">
                <div class="folders-item left-dd-selection" *ngFor="let status of modelStatus" [ngClass]="{'selected-status':currentStatus === status}" (click)="setStatus(status)">
                    <svg>
                        <use xlink:href="assets/symbol-defs.svg#icon-folder"></use>
                    </svg>
                    <span>{{status}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="files-wrapper">
        <div class="folder-info-wrapper">
            <div class="folder-info-review">
                <div class="forecast-cycles-wrapper" *ngIf="currentStatus == 'Archive' && selectedCycle">
                    <label (click)="selectCycle(false)">Forecast Cycles</label> > {{selectedCycle.Title}} {{selectedCycle.Descriptor}}
                </div>
            </div>

            <div class="folder-info-progress">&nbsp;</div>

            <div class="folder-info-icons opportunity-top-actions">
                <div class="info-icons-upload" matTooltip="Upload file" (click)="openUploadDialog()"></div>
                <div class="info-icons-documents" matTooltip="Documents" (click)="showFolders()" [ngClass]="{ 'top-action-selected': currentSection == 'documents'}" *ngIf="documentFolders.length > 1">
                    <div class="info-icons-selected-section"></div>
                </div>
                <div class="info-icons-models" matTooltip="Forecast Models" (click)="showModels()" [ngClass]="{ 'top-action-selected': currentSection == 'models'}" *ngIf="geoFolders.length > 0">
                    <div class="info-icons-selected-section"></div>
                </div>
                <div class="info-icons-settings" *ngIf="isOwner || currentUser?.IsSiteAdmin" matTooltip="Create Forecast Cycle" (click)="createForecast()"></div>
                <div class="info-icons-refresh-bi" matTooltip="Refresh Analytics" *ngIf="licensing.license?.HasPowerBi && geoFolders.length > 0" (click)="refreshPowerBi()"></div>
                <div class="info-icons-power-bi" matTooltip="Go to Power BI" *ngIf="licensing.license?.HasPowerBi && geoFolders.length > 0" (click)="navigateTo(entity)"></div>
                <div class="info-icons-department-users" matTooltip="Users Access" (click)="openFolderPermissions()" *ngIf="isOwner || currentUser?.IsSiteAdmin"></div>                
            </div>
        </div>
        <div [ngSwitch]="currentSection">
            <!-- DOCUMENTS LIST -->
            <div *ngSwitchCase="'documents'">
                <div class="documents-files">
                    <app-progress-spinner *ngIf="loading"></app-progress-spinner>

                    <ng-container *ngIf="currentFiles && currentFiles.length && !loading">
                        <div class="documents-files-item" *ngFor="let file of currentFiles">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <p>
                                    <label>Uploaded at </label>{{file.TimeLastModified | date : 'Y-M-d'}} 
                                    <ng-container *ngIf="file.ListItemAllFields.Author"><label> by </label>
                                        {{file.ListItemAllFields.Author.FirstName + ' ' + file.ListItemAllFields.Author.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-comments">
                                <p *ngIf="file.ListItemAllFields.Comments">
                                    <label>Description: </label>
                                    {{file.ListItemAllFields.Comments}}
                                </p>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" matTooltip="Open file" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" matTooltip="Download file" (click)="openFile(file.ListItemAllFields.ID, true)"></div>
                                <div class="documents-files-item-icons-share" matTooltip="Share file" (click)="shareFile(file.ListItemAllFields.ID, selectedDepartmentId)"></div>
                                <div class="documents-files-item-icons-remove" matTooltip="Delete file" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </div>
                    </ng-container>
                    <h3 *ngIf="(!currentFiles || currentFiles.length == 0) && !loading" style="text-align: center;">No Files Found in {{ selectedFolder?.Title }}</h3>  
                </div>
            </div>
            <div *ngSwitchCase="'models'">
                <div class="documents-folders" *ngIf="currentStatus=='Archived' && !selectedCycle">
                    <h3 *ngIf="!cycles || cycles.length == 0" style="text-align: center;">No Results Found</h3>  
                    <div class="document-folder-item" *ngFor="let cycle of cycles" (click)="selectCycle(cycle)">
                        <div class="document-folder-icon"></div>
                        {{cycle.Title}}
                    </div>
                </div>
                <div class="documents-files" *ngIf="currentStatus != 'Archived' || selectedCycle">
                    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
                    <ng-container *ngIf="currentFiles && currentFiles.length && !loading">
                        <div class="documents-files-item model-file-item" *ngFor="let file of currentFiles">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                                <p *ngIf="file.ListItemAllFields.EntityGeography.EntityGeographyType == 'Geography'">
                                    <label>Geography: </label>
                                    <ng-container>
                                        {{file.ListItemAllFields.EntityGeography.Title}}
                                    </ng-container>
                                </p>
                                <p *ngIf="file.ListItemAllFields.EntityGeography.EntityGeographyType == 'Country'">
                                    <label>Country: </label>
                                    <ng-container>
                                        {{file.ListItemAllFields.EntityGeography.Title}}
                                    </ng-container>
                                </p>
                                <p>
                                    <label>Scenarios: </label>
                                    <ng-container *ngFor="let s of file.ListItemAllFields.ModelScenario; let $last = last">
                                        {{s.Title + ($last ? '' : ', ')}}
                                    </ng-container>
                                </p>
                                <p><label>Indications: </label>{{getIndications(file.ListItemAllFields?.Indication)}}</p>
                                <p>
                                    <label>Last Modified at </label>{{file.TimeLastModified | date : 'Y-M-d'}}
                                    <ng-container *ngIf="file.ListItemAllFields.Editor"><label> by </label>
                                        {{file.ListItemAllFields.Editor.FirstName + ' ' + file.ListItemAllFields.Editor.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <ng-container *ngIf="currentStatus == 'Work in Progress'">
                                    <div class="documents-files-item-model-status">
                                        <div [ngClass]="{
                                            'status-in-progress': file.ListItemAllFields?.ApprovalStatus?.Title == 'In Progress', 
                                            'status-submitted': file.ListItemAllFields?.ApprovalStatus?.Title == 'Submitted', 
                                            'status-approved': file.ListItemAllFields?.ApprovalStatus?.Title == 'Approved'
                                        }">
                                            <label>Status: </label>{{file.ListItemAllFields?.ApprovalStatus?.Title}}
                                        </div>
                                        <div *ngIf="file.ListItemAllFields?.ApprovalStatus?.Title == 'Submitted' && (isOwner || isStageUser || currentUser?.IsSiteAdmin)">
                                            <span (click)="approve(file)" class="model-approve-btn" matTooltip="Approve the Forecast Model">Approve</span>
                                            <span (click)="rejectModel(file)" class="model-reject-btn" matTooltip="Reject the Forecast Model">Reject</span>
                                        </div>
                                    </div>
                                    <div class="documents-files-item-model-actions">
                                        <div class="model-send-approve-icon" matTooltip="Send for Approval" *ngIf="file.ListItemAllFields?.ApprovalStatus?.Title != 'Submitted'" (click)="sendForApproval(file)"></div>
                                        <div class="model-create-scenario-icon" matTooltip="Create Scenario" (click)="createScenario(file)"></div>
                                    </div>
                                </ng-container>
                                <div class="documents-files-item-model-indications">

                                </div>
                            </div>
                            <div class="documents-files-item-comments">
                                <p *ngIf="file.Description">
                                    <label>Description: </label>{{file.Description}}
                                </p>
                                <ng-container *ngIf="file.ListItemAllFields?.Comments">
                                    <div *ngFor="let comment of file.lastComments" (click)="openCommentsDetail(file)" matTooltip="Open Comments Detail" class="comments-action">
                                        <p><label>{{comment.name}} at </label> {{ comment.createdAt | date : 'Y-M-d'}}</p>
                                        <p class="comment-text">{{comment.text}}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" matTooltip="Open file" *ngIf="currentStatus == 'Work in Progress'" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" matTooltip="Download file" (click)="openFile(file.ListItemAllFields.ID, true)"></div>
                                <div class="documents-files-item-icons-share" matTooltip="Share file" (click)="shareFile(file.ListItemAllFields.ID, 0)"></div>
                                <div class="documents-files-item-icons-edit" matTooltip="Edit file name" *ngIf="currentStatus == 'Work in Progress'" (click)="editFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-remove" matTooltip="Delete file" *ngIf="currentStatus == 'Work in Progress'" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </div>
    
                    </ng-container>
                    <h3 *ngIf="(currentStatus != 'Archived' || selectedCycle) && (!currentFiles || currentFiles.length == 0) && !loading" style="text-align: center;">No Results Found</h3>  
                </div>
            </div>
        </div>        
    </div>
</div>