.folder-and-actions-wrapper {

    .files-wrapper {
        
        .comment-text {
            width: 90%;
            height: 3rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 0.6rem;
            cursor: pointer;
        }

        .documents-folders {
            .document-folder-item {
                display: inline-block;
                cursor: pointer;
                padding: 20px;
                margin: 20px;
                .document-folder-icon {
                    margin: 0 auto;
                    width: 51px;
                    height: 45px;
                    background: url("/assets/folder.svg") no-repeat center;
                    background-size: cover;
                }
            }
        }
        .folder-info-wrapper {
            .folder-info-review {
                width: 30%;
            }
            .folder-info-progress {
                flex: 1;
            }
        }

    }
}