<app-npp-header [isHome]="false"></app-npp-header>
<div class="summary-content-wrapper">
    <div class="summary-graph">
        <div class="header">
            <h4><div class="doc-btn-icon"></div> Project Insights</h4>
        </div>
        <div class="graph">
            <div id="chart"></div>
        </div>
        <div class="graph">
            <div id="chart-2"></div>
        </div>
        <div class="graph">
            <div id="chart-3"></div>
        </div>
        <div class="graph">
            <div id="chart-4"></div>
        </div>
        <div class="next-tasks">
            <div class="next-tasks-title">Current Task Deadline</div>
            <div class="next-tasks-header">
                <div class="next-tasks-opportunity-name">Opportunity Name</div>
                <div class="next-tasks-task-name">Action/Task Name</div>
                <div class="next-tasks-deadline">Deadline</div>
            </div>
            <div class="next-tasks-content" *ngFor="let t of currentTasks">
                <div class="next-tasks-opportunity-name">{{t.opportunityName}}</div>
                <div class="next-tasks-task-name">{{t.taskName}}</div>
                <div class="next-tasks-deadline" *ngIf="t.taskDeadLine">{{t.taskDeadLine | date : 'd MMM y' }}</div>
                <div class="next-tasks-deadline" *ngIf="!t.taskDeadLine"> - </div>
            </div>
        </div>
    </div>
    <div class="summary-notifications">
        <div class="header">
            <h4><div class="bell-btn-icon"></div> Notifications</h4>
        </div>
        <div class="notifications-column">
            <div class="notification-item" *ngFor="let n of notificationsList" [ngClass]="{'isRead': n.ReadAt }">
                {{n.Title}}
            </div>
        </div>
    </div>
</div>
