<app-npp-header [currentSection]="'summary'"></app-npp-header>
<div class="summary-content-wrapper">
    <div class="summary-graph">
        <div class="header">
            <h4><div class="doc-btn-icon"></div> Project Insights</h4>
        </div>
        <app-progress-spinner *ngIf="loadingGraphics"></app-progress-spinner>

        <div class="graph">
            <div id="chart"></div>
        </div>
        <div class="graph">
            <div id="chart-2"></div>
        </div>
        <div class="graph">
            <div id="chart-3"></div>
        </div>
        <div class="graph">
            <div id="chart-4"></div>
        </div>
        <div class="next-tasks">
            <div class="next-tasks-title section-title">Current Task Deadline</div>
            <app-progress-spinner *ngIf="loadingTasksTable"></app-progress-spinner>
            <table *ngIf="!loadingTasksTable" class="deadline-table">
                <tr class="next-tasks-header">
                    <th >Opportunity Name</th>
                    <th>Action/Task Name</th>
                    <th>Deadline</th>
                </tr>
                <tr class="next-tasks-content" *ngFor="let t of currentTasks">
                    <td >{{t.opportunityName}}</td>
                    <td >{{t.taskName}}</td>
                    <td *ngIf="t.taskDeadLine" [ngClass]="getDeadlineClass(t.taskDeadLine)">
                        {{t.taskDeadLine | date : 'd MMM y' }}
                    </td>
                    <td *ngIf="!t.taskDeadLine"> - </td>
                </tr>
            </table>
        </div>
        
        <app-seats-table *ngIf="showSeatsTable()"></app-seats-table>

    </div>
    <div class="summary-notifications">
        <div class="header">
            <h4><div class="bell-btn-icon"></div> Notifications</h4>
        </div>
        <div class="notifications-column">
            <div class="notification-item" *ngFor="let n of notificationsList" [ngClass]="{'isRead': n.ReadAt }">
                {{n.Title}}
            </div>
        </div>
    </div>
    
</div>
