@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

input, select, textarea {
    font-size: 0.9rem;
    opacity: 1;
    color: #000;
    width: calc(100% - 1.2rem);
    height: 32px;
    line-height: 36px;
    min-height: 32px;
    // &::placeholder {
    //     color: #000;
    //     font-weight: 700;
    // }
}

input, select, textarea,
.ng-select .ng-select-container {
    border-radius: 10px;
    border: solid 1px #98989B;
}

.ng-select .ng-select-container {
    height: 36px !important;
    width: calc(100% - 1.2rem) !important;
    line-height: 36px !important;
    min-height: 36px !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 0;
}

select {
    height: 36px;
}

div.custom-checkbox {
    input {
        float: left;
        width: auto;
    }
    label {
        clear: none;
    }
}

form.opportunity-form {
    .date-input div.form-group {
        width: 48%;
        float: left;
    }
}

p {
    margin: 0;
    padding: 0;
}

label {
    color: rgba(0, 0, 0, 0.5);
}

app-opportunity-list {
    app-progress-bar {
        display: block;
        width: 8rem;
        height: 0.8rem;
    }

    formly-field {
        display: inline-block;
        max-width: calc(19% - 7px);
        margin: 0.85rem 1.8rem;
        
        select, input {
            max-width: 100%;
            padding: 4px 4px 3px 7.5px;
            opacity: 0.4;
            border-radius: 5px;
            border: solid 1px #000000;
        }

        &:nth-child(1) {
            width: 25%;
            input {
                width: 100%;
            }
        }
    }
}

.datepicker-container input {
    width: 7.83rem;
    height: 2.08rem;
    margin: 0 0 0 0.29rem;
    padding: 0.33rem 0.33rem 0.25rem 0.625rem;
    opacity: 0.2;
    border-radius: 0.417rem;
    border: solid 1px #000000;
}
// datepickers opportunity
.date-input.firstHalf .datepicker-default,
.date-input.secondHalf .datepicker-default {
    width: 90%;
}
.date-input.secondHalf .datepicker-default,
.date-input.secondHalf label {
    margin-left: 10%;
}
.date-input.firstHalf .datepicker-default input,
.date-input.secondHalf .datepicker-default input {
    width: 100%;
}

.mat-dialog-container {
    padding: 1px !important;
    border-radius: 0 !important;
    position: relative;
    .dialog-footer {
        position: absolute;
        bottom: 2px;
        height: 3.5rem;
        width: 88%;
        padding: 2rem;

        .dialog-cancel-button,
        .dialog-submit-button {
            width: calc(30% - 2px);
            max-width: 135px;
            border-radius: 10px;
            height: 44px;
            line-height: 44px;
            font-weight: 700;
            font-size: 1.1rem;
            color: rgb(0, 0, 0);
            text-align: center;
            cursor: pointer;
        }
        .dialog-cancel-button {
            background-color: #DDE1DF;
            float: left;
            margin-left: 2%;
        }
        .dialog-submit-button {
            background-color: #00E8B5;
            float: right;
            margin-right: 8%;
        }
    }
}

.mat-dialog-content {
    margin: 0 !important;
    padding: 2rem 1.5rem !important;
    overflow: visible !important;
    position: relative;
}

.form-group {
    margin-bottom: 1.3rem;
    label {
        display: block;
        clear: both;
        margin-bottom: 0.5rem;
        font-weight: 400;
        color: #000;
        font-size: 1.1rem;
        padding-left: 5px;
    }
}

.npp-btn {
    height: 3.5rem;
    padding: 0 1rem;
    margin: 0 1rem;
    line-height: 3.5rem;
    background-color: #00E8B5;
    color: #000;
    text-align: center;
    cursor: pointer;
    float: left;
    transition: all 2s;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}
.npp-btn:hover {
    background-color: #83c797;
}

// active signals
.green-signal {
    background-color: #bdffd1;
    border: 1px solid #94d9a9;
    border-radius: 50%;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0;
}

.red-signal {
    background-color: #ffc1b8;
    border: 1px solid #f68b7b;
    border-radius: 50%;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0;
}

/** validation errors **/

.form-control.is-invalid, .was-validated .form-control:invalid,
div.has-error input,
div.has-error .ng-select-container {
    border-color: #dc3545;
    &::placeholder {
        color: #dc3545;
    }
}

.invalid-feedback {
    font-size: 80%;
    color: #dc3545;
}

.hidden {
    height: 0 !important;
    width: 0 !important;
  }

.report-container {
    height: 100vh;
    margin: 2px left;
    width: 100%
    
  }
  
.desktop-view iframe, .mobile-view iframe {
    border: none;
}

// datepicker modal
.config-dialog-container .mat-dialog-container {
    overflow: visible;
}
.datepicker-modal {
    position: absolute;
    .calendar-container {
        position: fixed !important;
        top: 40% !important;
        left: 40% !important;
        font-weight: 700;
    }
}
.datepicker-default, 
.datepicker-default div {
    line-height: normal !important;
}