.opportunity-info-wrapper {
    width: 100%;
    padding: 0 4rem;
    position: relative;
    height: 3.17rem;
    overflow: hidden;
    color: #98989B;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 700;
    display: flex;
    background-color: #fff;

    & > div {
        float: left;
        height: 3rem;
        position: relative;
        line-height: 1.5rem;
        top: 0;
        flex: 1;
    }

    h2 {
        color: #000;
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    span.opportunity-status {
        color: #545353;
        padding-left: 0.5rem;
    }
    
    .opportunity-name {
        width: calc(25% - 2rem);

        .opportunity-active {
            background-color: #bdffd1;
            border: 1px solid #94d9a9;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }

        .opportunity-archived {
            background-color: #ffc1b8;
            border: 1px solid #f68b7b;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }
    }
    .opportunity-dates{
        width: 11.18%;
    }

    .opportunity-molecule {
        width: 48%;
    }

    .opportunity-owner {
        font-size: 0.85rem;
        line-height: 1rem;
        max-width: 23%;
        display: flex;
        align-items: center;
        justify-content: left;
        
        .opportunity-owner-pic {
            margin-left: 1rem;
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            position: relative;
            margin-right: 1rem;
            .opportunity-owner-pic-background{
                display: block;
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: #ea5817;
                background: linear-gradient(to right, #ea5817 0%,#ffa13e 100%);
            }
            img {
                display: block;
                width: 2.6rem;
                height: 2.6rem;
                position: absolute;
                top: 0.2rem;
                left: 0.17rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }

    }

    label {
        color: #000;
    }
}

.gates-and-actions-wrapper {
    background-color: #fff;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-auto-rows: 1fr;

    .gates-wrapper {
        background-color: #545353;
        color: #fff;
        float: left;
        clear: left;
        height: 100%;
        font-size: 1.2rem;

        .gates-item {
            background-color: #545353;
            height: 3.42rem;
            line-height: 3.42rem;
            text-align: center;
            cursor: pointer;
            position: relative;
            &.selected-gate {
                color: #fff;
                background-color: #000;
                &.folders-visible {
                    background-color: #545353; 
                    svg {
                        fill: white;
                        transform: rotate(180deg);
                    }       
                }
            }

            &.folders-visible {
                text-align: left;
                span {
                    margin-left: 2rem;
                }
                svg {
                    height: 1rem;
                    width: 1rem;
                    position: absolute;
                    right: 1.2rem;
                    top: 1.2rem;
                }
            }
        }

        .folders-item {
            background-color: #545353;
            height: 5rem;
            line-height: 5rem;
            text-align: left;
            color: #000;
            cursor: pointer;
            color: #fff;
            position: relative;
            
            &:nth-child(even) {
                background-color: #767575;
            }
            span {
                margin-left: 5px;
                position: relative;
                top: -2px;
            }
            & > svg {
                margin-top: 2px;
                width: 1.5rem;
                height: 1.2rem;
                fill: white;
                margin-left: 2rem;
            }
            &.selected-folder{
                background-color: #000;
            }

            & > img {
                position: absolute;
                right: 1.2rem;
                top: 1rem;
            }
        }
    }

    .documents-files {
        width: 100%;
        float: left;

        .documents-files-item {
            clear: left;
            overflow: hidden;
            height: 5rem;
            display: flex;
            align-items: center;
            color: #000;
            font-weight: 700;
            font-size: 0.9rem;
            padding: 0 2rem 0 2.5rem;

            &>div {
                padding-right: 1%;
            }

            label {
                color: #98989B;
            }

            &:nth-child(odd) {
                background-color: #f4f4f4;
            }

            .documents-files-item-name {
                width: 30%;
                font-size: 1.1rem;
            }

            .documents-files-item-uploaded {
                & > div {
                    float: left;
                }
                width: 23%;

                .documents-files-item-model-actions {
                    padding-left: 1.35rem;
    
                    &>div {
                        width: 20px;
                        height: 16px;
                        padding-left: 0.5rem;
                        cursor: pointer;
                        float: left;
                        margin: 0 !important;
                    }
                    .model-send-approve-icon {
                        background: url("/assets/send.svg") no-repeat center;
                    }
                
                    .model-create-scenario-icon {
                        background: url("/assets/duplicate.svg") no-repeat center;
                    }
                }

                span.model-approve-btn {
                    cursor: pointer;
                    color: green;
                }
                span.model-reject-btn {
                    cursor: pointer;
                    color: red;
                }
            }
            
            .documents-files-item-comments {
                flex: 1;
                p {
                    padding-left: 1.35rem;
                }
            }

            .documents-files-item-icons {
                width: calc(14.5% - 1px);
                overflow: hidden;
                height: 100%;
                display: flex;
                align-items: center;
                
                &>div {
                    width: 19%;
                    height: 2rem;
                    padding-top: 1rem;
                    cursor: pointer;
                    float: left;
                    margin-left: 1%;

                    &:hover {
                        opacity: 0.7;
                    }
                }
                .documents-files-item-icons-file {
                    background: url("/assets/gate-icons/open-file.svg") no-repeat center;
                }

                .documents-files-item-icons-download {
                    background: url("/assets/gate-icons/download-file.svg") no-repeat center;
                }

                .documents-files-item-icons-share {
                    background: url("/assets/gate-icons/share-file.svg") no-repeat center;
                }

                .documents-files-item-icons-edit {
                    background: url("/assets/gate-icons/edit-file.svg") no-repeat center;
                }

                .documents-files-item-icons-remove {
                    background: url("/assets/gate-icons/delete-file.svg") no-repeat center;
                }            }
        }
    }
    .actions-wrapper {
        background-color: #fff;
        width: 100%;
        float: left;
        height: 100%;
        flex: 1;

        .gate-info-wrapper {
            background-color: #545353;
            color: #fff;
            height: 3.42rem;
            line-height: 3.42rem;
            font-size: 1.2rem;
            display: flex;
            padding: 0 2rem 0 2.5rem;

            &>div {
                padding-right: 1%;
            }

            label {
                color: #fff;
            }

            .gate-info-review {
                width: 30%;
            }
            .gate-info-progress {
                flex: 1;
                app-progress-bar {
                    display: inline-block;
                    margin-left: 1rem;
                    width: 11rem;
                    height: 0.8rem;
                }
            }
            .gate-info-icons {
                width: auto;
                height: 100%;
                text-align: right;
                display: flex;
                align-items: center;

                &>div {
                    width: 1.5rem;
                    height: 100%;
                    cursor: pointer;
                    float: right;
                    margin-right: 0.6rem;
                }
                &>div:hover {
                    opacity: 0.6;
                }
                .gate-info-icons-upload {
                    background: url("/assets/gate-icons/upload.svg") no-repeat center;
                }
                .gate-info-icons-actions {
                    min-width: 16px !important;
                    background: url("/assets/gate-icons/tasks-list.svg") no-repeat center;
                    &:hover .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-documents {
                    background: url("/assets/gate-icons/docs.svg") no-repeat center;

                    &:has(.gate-section-selected) .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-models {
                    background: url("/assets/gate-icons/models.svg") no-repeat center;
                    &:hover .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-refresh-bi {
                    background: url("/assets/gate-icons/powerbi.svg") no-repeat center;
                }
                .gate-info-icons-power-bi {
                    background: url("/assets/PBI/powerbi.svg") no-repeat center;
                }
                .gate-info-icons-stage-settings {
                    background: url("/assets/gate-icons/settings.svg") no-repeat center;
                }
                .gate-info-icons-department-users {
                    background: url("/assets/gate-icons/users-access.svg") no-repeat center;
                    padding-top: 3px;
                }

                .gate-section-selected .gate-info-icons-selected-section {
                    display: block;
                    border-bottom: 4px solid #fff;
                    height: 92%;
                }
            }
        }

        .action-item,
        .actions-list-button {
            height: 5rem;
            clear: left;
            color: #000;
            font-size: 1.1rem;
        }
        .action-item {
            display: flex;
            align-items: center;
            padding: 0 2rem 0 2.5rem;

            &:nth-child(odd) {
                background-color: #f4f4f4;
            }

            &>div {
                padding-right: 1%;
            }

            .action-item-name {
                width: 30%;
            }

            .action-item-completed {
                flex: 1;
                font-size: 0.9rem;
                font-weight: 700;
                label {
                    color: #98989B;
                }
            }

            .action-item-due {
                width: 20%;
                font-size: 0.9rem;
                font-weight: 700;
            }

            .action-item-status {
                width: 15%;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.6);

                > div {
                    background-color: #f5f5f5;
                    border-radius: 10px;
                    color: #000;
                    cursor: pointer;
                    font-size: 0.85rem;
                    font-weight: 700;
                    height: 2rem;
                    line-height: 2rem;

                    &:hover {
                        opacity: 0.8;
                    }

                    span {
                        padding-left: 1rem;
                    }

                    .action-item-status-icon {
                        background-size: cover;
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top: 0.4rem;
                        right: 1rem;
                    }

                    &.action-completed {
                        background-color: #00E8B5;    
                        position: relative;
                        .action-item-status-icon {
                            background: url('/assets/gate-icons/tick.svg') no-repeat;
                        }
                    }
    
                    &.action-late {
                        background-color: #F26211;
                        position: relative;
                        .action-item-status-icon {
                            background: url('/assets//gate-icons/late.svg') no-repeat;
                        }
                    }
                    
                    &.action-pending {
                        background-color: #d2d2d2;
                        position: relative;
                        .action-item-status-icon {
                            background: url('/assets/Pending.svg') no-repeat;
                        }
                    }
                }
                

            }

            
            .action-item-blank {
                width: auto;
            }
        }

        .actions-list-button {
            .action-item-next-button {
                width: calc(17.06% - 1.59rem);
                float: right;
                background-color: #000;
                color: #fff;
                line-height: 3.42rem;
                padding-left: 1.59rem;
                position: relative;
                cursor: pointer;
                transition: background-color 0.5s ease;

                .action-item-next-button-icon {
                    background: url('/assets/left-arrow.svg') no-repeat;
                    // transform: rotate(180deg);
                    transform: rotate(180deg) scale(0.75);
                    background-size: cover;
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                }
            }

            .action-item-next-button:hover {
                background-color: #ea5817;
            }
        }
        
    }

}