.opportunity-info-wrapper {
    width: 100%;
    background-color: #f5f5f5;
    padding: 1rem 0;
    position: relative;
    height: 3.17rem;
    overflow: hidden;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    & > div {
        display: block;
        float: left;
        height: 3rem;
        position: relative;
        line-height: 1.5rem;
        top: 0;
    }

    h2 {
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
    
    .opportunity-name {
        padding-left: 2rem;
        width: calc(25% - 2rem);

        .opportunity-active {
            background-color: #bdffd1;
            border: 1px solid #94d9a9;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }

        .opportunity-archived {
            background-color: #ffc1b8;
            border: 1px solid #f68b7b;
            border-radius: 50%;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            margin: 0;
        }
    }
    .opportunity-dates{
        width: 11.18%;
    }

    .opportunity-molecule {
        width: 48%;
    }

    .opportunity-owner {
        width: 15%;
        & > div {
            display: inline-block;
        }
        .opportunity-owner-pic {
            margin-left: 1rem;
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            position: relative;
            margin-right: 1rem;
            .opportunity-owner-pic-background{
                display: block;
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: #ea5817;
                background: linear-gradient(to right, #ea5817 0%,#ffa13e 100%);
            }
            img {
                display: block;
                width: 2.6rem;
                height: 2.6rem;
                position: absolute;
                top: 0.2rem;
                left: 0.17rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }

        .opportunity-owner-info {
            height: 3rem;
            position: absolute;
        }
    }
}

.gates-and-actions-wrapper {
    height: 100%;
    .gates-wrapper {
        background-color: #f5f5f5;
        width: 10.14%;
        float: left;
        clear: left;
        height: 100%;

        .gates-item {
            background-color: #ebebeb;
            height: 3.42rem;
            line-height: 3.42rem;
            text-align: center;
            color: #000;
            cursor: pointer;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            position: relative;
            &:last-child {
                border-bottom: 1px solid #fff;
            }
            &.selected-gate {
                color: #fff;
                background-color: #000;
                &.folders-visible {
                    background-color: #4e4e4e; 
                    svg {
                        fill: white;
                        transform: rotate(180deg);
                    }       
                }
            }

            &.folders-visible {
                text-align: left;
                span {
                    margin-left: 2rem;
                }
                svg {
                    height: 1rem;
                    width: 1rem;
                    position: absolute;
                    right: 1.2rem;
                    top: 1.2rem;
                }
            }
        }

        .folders-item {
            background-color: #4e4e4e;
            height: 3.42rem;
            line-height: 3.42rem;
            text-align: left;
            color: #000;
            cursor: pointer;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            color: #fff;
            position: relative;
            span {
                margin-left: 5px;
                position: relative;
                top: -2px;
            }
            & > svg {
                margin-top: 2px;
                width: 1.5rem;
                height: 1.2rem;
                fill: white;
                margin-left: 2rem;
            }
            &.selected-folder{
                background-color: #000;
            }

            & > img {
                position: absolute;
                right: 1.2rem;
                top: 1rem;
            }
        }
    }

    .documents-files {
        width: 100%;
        float: left;
        .documents-files-item {
            width: 100%;
            clear: left;
            border-top: 1px solid #fff;
            overflow: hidden;

            &:last-child {
                border-bottom: 1px solid #fff;
            }

            & > div {
                float: left;
                padding: 1rem 0;
                border-right: 1px solid #fff;
            }
            .documents-files-item-name {
                clear: left;
                width: calc(35% - 1px);
                p {
                    padding-left: 1.35rem;
                }
            }

            .documents-files-item-uploaded {
                & > div {
                    float: left;
                }
                width: calc(23% - 1px);
                p {
                    padding-left: 1.35rem;
                }

                .documents-files-item-model-actions {
                    padding-left: 1.35rem;
    
                    &>div {
                        width: 20px;
                        height: 16px;
                        padding-left: 0.5rem;
                        cursor: pointer;
                        float: left;
                        margin: 0 !important;
                    }
                    .model-send-approve-icon {
                        background: url("/assets/send.svg") no-repeat center;
                    }
                
                    .model-create-scenario-icon {
                        background: url("/assets/duplicate.svg") no-repeat center;
                    }
                }

                span.model-approve-btn {
                    cursor: pointer;
                    color: green;
                }
                span.model-reject-btn {
                    cursor: pointer;
                    color: red;
                }
            }
            
            .documents-files-item-comments {
                width: calc(30.5% - 1px);
                p {
                    padding-left: 1.35rem;
                }
            }

            .documents-files-item-icons {
                width: calc(11.5% - 1px);
                overflow: hidden;
                height: 100%;
                padding: 0;
                
                &>div {
                    width: 25%;
                    height: 2rem;
                    padding-top: 1rem;
                    cursor: pointer;
                    float: left;
                }
                .documents-files-item-icons-file {
                    background: url("/assets/doc.svg") no-repeat 1.35rem center;
                }

                .documents-files-item-icons-download {
                    background: url("/assets/down.png") no-repeat 1.35rem center;
                }

                .documents-files-item-icons-share {
                    background: url("/assets/share.svg") no-repeat 1.35rem center;
                }

                .documents-files-item-icons-remove {
                    background: url("/assets/bin.svg") no-repeat 0.7rem center;
                }            }
        }
    }
    .actions-wrapper {
        background-color: #f5f5f5;
        width: 89.86%;
        float: left;
        height: 100%;

        .gate-info-wrapper {
            background-color: #ebebeb;
            height: 3.42rem;
            line-height: 3.42rem;
            width: 100%;
            border-top: 1px solid #fff;
            & > div {
                display: block;
                float: left;
            }

            .gate-info-review {
                width: 29.24%;
                label {
                    margin-left: 1.59rem;
                }
            }
            .gate-info-progress {
                width: 45.69%;
                app-progress-bar {
                    display: inline-block;
                    margin-left: 1rem;
                    width: 11rem;
                    height: 0.8rem;
                }
            }
            .gate-info-icons {
                width: 25.06%;
                height: 100%;
                text-align: right;
                &>div {
                    width: 18px;
                    height: 100%;
                    cursor: pointer;
                    float: right;
                    margin-right: 1.25rem;
                }
                &>div:first-child {
                    margin-right: 2rem;
                }
                &>div:hover {
                    opacity: 0.6;
                }
                .gate-info-icons-upload {
                    background: url("/assets/up.svg") no-repeat center;
                }
                .gate-info-icons-actions {
                    min-width: 16px !important;
                    background: url("/assets/menu.svg") no-repeat center;
                    &:hover .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-documents {
                    background: url("/assets/folder.svg") no-repeat center;

                    &:has(.gate-section-selected) .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-models {
                    background: url("/assets/alldocuments.svg") no-repeat center;
                    &:hover .gate-info-icons-selected-section {
                        display: block;
                    }
                }
                .gate-info-icons-refresh-bi {
                    background: url("/assets/cilindro.svg") no-repeat center;
                }
                .gate-info-icons-stage-settings {
                    background: url("/assets/settings.svg") no-repeat center;
                }
                .gate-info-icons-department-users {
                    background: url("/assets/addpeople.svg") no-repeat center;
                    padding-top: 3px;
                }

                .gate-section-selected .gate-info-icons-selected-section {
                    display: block;
                    border-bottom: 2px solid black;
                    height: 95%;
                }
            }
        }

        .action-item,
        .actions-list-button {
            width: 100%;
            height: 3.42rem;
            clear: left;
        }
        .action-item {
            &:last-child > div {
                border-bottom: 1px solid #fff;
            } 

            & > div {
                display: block;
                float: left;
                line-height: 3.42rem;
                background-color: #f5f5f5;
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                padding-left: 1.59rem;
            }

            .action-item-name {
                width: calc(28.4% - 1px - 1.59rem);
            }

            .action-item-completed {
                width: calc(27.7% - 1px - 1.25rem);
                padding-left: 1.25rem;
            }

            .action-item-due {
                width: calc(26.84% - 1px - 1.59rem);
                
            }

            .action-item-complete {
                width: calc(17.06% - 2px - 1.59rem);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.6);
                line-height: 3.42rem;
                cursor: pointer;
                &.action-completed {
                    background-color: #bdffd1;    
                    position: relative;
                    .action-item-status-icon {
                        background: url('/assets/Check.svg') no-repeat;
                        background-size: cover;
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top: 1rem;
                        right: 2rem;
                    }
                }

                &.action-late {
                    background-color: #ffc1c1;
                    position: relative;
                    .action-item-status-icon {
                        background: url('/assets/Warning.svg') no-repeat;
                        background-size: cover;
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top: 1rem;
                        right: 2rem;
                    }
                }
                
                &.action-pending {
                    background-color: #f5f5f5;
                    position: relative;
                    .action-item-status-icon {
                        background: url('/assets/Pending.svg') no-repeat;
                        background-size: cover;
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top: 1rem;
                        right: 2rem;
                    }
                }

            }

            
            .action-item-blank {
                width: auto;
            }
        }

        .actions-list-button {
            .action-item-next-button {
                width: calc(17.06% - 1.59rem);
                float: right;
                background-color: #000;
                color: #fff;
                line-height: 3.42rem;
                padding-left: 1.59rem;
                position: relative;
                cursor: pointer;
                transition: background-color 0.5s ease;

                .action-item-next-button-icon {
                    background: url('/assets/left-arrow.svg') no-repeat;
                    // transform: rotate(180deg);
                    transform: rotate(180deg) scale(0.75);
                    background-size: cover;
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                }
            }

            .action-item-next-button:hover {
                background-color: #ea5817;
            }
        }
        
    }

}