<app-npp-header [currentSection]="'opportunities'"></app-npp-header>
<div class="opportunity-info-wrapper top-info-wrapper" *ngIf="opportunity">
    <div class="opportunity-name">
        <h2>{{opportunity.Title}}</h2>
        <div>
            <div class="opportunity-active" *ngIf="opportunity.OpportunityStatus == 'Active'"></div>
            <div class="opportunity-archived" *ngIf="opportunity.OpportunityStatus == 'Archive'"></div>
            <span class="opportunity-status">{{opportunity.OpportunityStatus}}</span>
            &nbsp;·&nbsp;
            {{opportunity.OpportunityType.Title}}
        </div>
    </div>
    <div class="opportunity-dates">
        <p><label>Project start: </label> {{opportunity.ProjectStartDate | date : 'MMM y'}}</p>
        <p><label>Project end: </label> {{opportunity.ProjectEndDate | date : 'MMM y'}}</p>
    </div>
    <div class="opportunity-molecule">
        <p><label>Molecule Name: </label> {{opportunity.MoleculeName}}</p>
        <p><label>{{stringMapper.getString('Indications')}}: </label> {{getIndications(opportunity.Indication)}}</p> 
    </div>
    <div class="opportunity-owner">
        <div class="owner-pic">
            <div class="owner-pic-background"></div>
            <img [src]="defaultProfilePic" alt="" *ngIf="!ownerProfilePic" />
            <img [src]="ownerProfilePic" alt="{{opportunity.EntityOwner.FirstName + ' ' + opportunity.EntityOwner.LastName}}" *ngIf="ownerProfilePic" />
        </div>
        <div class="owner-info">
            <div class="owner-info-title"><label>Opportunity Owner</label></div>
            <div class="owner-info-name" *ngIf="opportunity.EntityOwner">
                {{opportunity.EntityOwner.FirstName + ' ' + opportunity.EntityOwner.LastName}}
            </div>
        </div>
    </div>
</div>
<div class="gates-and-actions-wrapper opportunity-contents">
    <div class="gates-wrapper left-selection">
        <div class="gates-item-wrapper" *ngFor="let gate of gates">
            <div class="gates-item left-top-selection"  [ngClass]="{'selected-item': currentGate && currentGate.ID === gate.ID, 'expanded-item': currentSection == 'documents'}" (click)="setGate(gate.ID)">
                <span>{{gate.Title}}</span>
                <svg>
                    <use xlink:href="assets/symbol-defs.svg#icon-chevron"></use>
                </svg>
            </div>
            <div class="folders-wrapper" *ngIf="currentSection == 'documents' && currentGate && currentGate.ID === gate.ID">
                <div class="folders-item left-dd-selection" *ngFor="let folder of gate.folders" [ngClass]="{'selected-status': currentFolder && (currentFolder.DepartmentID === folder.DepartmentID)}" (click)="setFolder(folder.DepartmentID)">
                    <svg>
                        <use xlink:href="assets/symbol-defs.svg#icon-folder"></use>
                    </svg>
                    <span>{{folder.Title}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-wrapper">
        <div class="gate-info-wrapper">
            <div class="gate-info-review">
                <label>{{currentGate?.Title}} Review date: </label>
                {{currentGate?.StageReview | date : 'Y-M-d'}}
            </div>
            <div class="gate-info-progress">
                <label>{{currentGate?.Title}} Progress: </label>
                &nbsp;{{currentGateProgress}}%
                <app-progress-bar [progress]="currentGateProgress"></app-progress-bar>
            </div>
            <div class="gate-info-icons opportunity-top-actions">
                <div class="info-icons-upload" matTooltip="Upload file" (click)="openUploadDialog()"></div>
                <div class="info-icons-actions" matTooltip="Task List" (click)="setSection('actions')" [ngClass]="{ 'top-action-selected': currentSection == 'actions' }">
                    <div class="info-icons-selected-section"></div>
                </div>
                <div class="info-icons-documents" matTooltip="Supporting Docs" (click)="showFolders()" [ngClass]="{ 'top-action-selected': currentSection == 'documents' && !currentFolder?.containsModels }">
                    <div class="info-icons-selected-section"></div>
                </div>
                <div class="info-icons-models" matTooltip="Forecast Models" (click)="showModels()" [ngClass]="{ 'top-action-selected': currentSection == 'documents' && currentFolder?.containsModels}">
                    <div class="info-icons-selected-section"></div>
                </div>
                <div class="info-icons-settings" matTooltip="Stage Settings" (click)="openStageSettings()" *ngIf="isOwner || isStageUser || currentUser?.IsSiteAdmin"></div>
                <div class="info-icons-department-users" matTooltip="Users Access" (click)="openFolderPermissions()" *ngIf="isOwner || isStageUser || currentUser?.IsSiteAdmin"></div>
                
                <div class="info-icons-refresh-bi" matTooltip="Refresh Analytics" *ngIf="licensing.license?.HasPowerBi && hasAccessToModels && isOwner"  (click)="refreshPowerBi()"></div>
                <div class="info-icons-power-bi" matTooltip="Go to Report" *ngIf="licensing.license?.HasPowerBi && hasAccessToModels"  (click)="navigateTo(entity)"></div>
            </div>
        </div>
        <div [ngSwitch]="currentSection">
            <!-- DOCUMENTS LIST -->
            <div *ngSwitchCase="'documents'">
                <div class="documents-files">
                    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
                    <h3 *ngIf="currentFiles.length < 1 && currentFolder && !loading" style="text-align: center;">
                        No files are currently uploaded to <em>{{currentFolder.Title}}</em> folder
                    </h3>
                    <h3 *ngIf="currentFiles.length < 1 && !currentFolder && !loading" style="text-align: center;">
                        There are no stage folders or you don't have access to them 
                    </h3>
                    <ng-container *ngFor="let file of currentFiles">
                    <div class="documents-files-item" [ngClass]="{'model-file-item': displayingModels }">
                        <!-- NORMAL DOCUMENTS -->
                        <ng-container *ngIf="!displayingModels">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <p>
                                    <label>Uploaded at </label>{{file.TimeLastModified | date : 'Y-M-d'}} 
                                    <ng-container *ngIf="file.ListItemAllFields.Author"><label> by </label>
                                        {{file.ListItemAllFields.Author.FirstName + ' ' + file.ListItemAllFields.Author.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-comments">
                                <p *ngIf="file.ListItemAllFields.Comments">
                                    <label>Description: </label>
                                    {{file.ListItemAllFields.Comments}}
                                </p>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" matTooltip="Open file" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" matTooltip="Download file" (click)="openFile(file.ListItemAllFields.ID, true)"></div>
                                <div class="documents-files-item-icons-share" matTooltip="Share file" (click)="shareFile(file.ListItemAllFields.ID, currentFolder.DepartmentID)"></div>
                                <div class="documents-files-item-icons-edit" matTooltip="Edit file name" (click)="editFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-remove" matTooltip="Delete file" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </ng-container>

                        <!-- FORECASTING MODELS -->
                        <ng-container *ngIf="displayingModels">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                                <p *ngIf="file.ListItemAllFields.EntityGeography.EntityGeographyType == 'Geography'">
                                    <label>Geography: </label>
                                    <ng-container>
                                        {{file.ListItemAllFields.EntityGeography.Title}}
                                    </ng-container>
                                </p>
                                <p *ngIf="file.ListItemAllFields.EntityGeography.EntityGeographyType == 'Country'">
                                    <label>Country: </label>
                                    <ng-container>
                                        {{file.ListItemAllFields.EntityGeography.Title}}
                                    </ng-container>
                                </p>
                                <p>
                                    <label>Scenarios: </label>
                                    <ng-container *ngFor="let s of file.ListItemAllFields.ModelScenario; let $last = last">
                                        {{s.Title + ($last ? '' : ', ')}}
                                    </ng-container>
                                </p>
                                <p><label>{{stringMapper.getString('Indications')}}: </label>{{getIndications(file.ListItemAllFields?.Indication)}}</p>
                                <p>
                                    <label>Uploaded at </label>{{file.TimeLastModified | date : 'Y-M-d'}}
                                    <ng-container *ngIf="file.ListItemAllFields.Author"><label> by </label>
                                        {{file.ListItemAllFields.Author.FirstName + ' ' + file.ListItemAllFields.Author.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <div class="documents-files-item-model-status">
                                    <div [ngClass]="{
                                        'status-in-progress': file.ListItemAllFields?.ApprovalStatus?.Title == 'In Progress', 
                                        'status-submitted': file.ListItemAllFields?.ApprovalStatus?.Title == 'Submitted', 
                                        'status-approved': file.ListItemAllFields?.ApprovalStatus?.Title == 'Approved'
                                    }">
                                        <label>Status: </label>{{file.ListItemAllFields?.ApprovalStatus?.Title}}
                                    </div>
                                    <p *ngIf="file.ListItemAllFields?.ApprovalStatus?.Title == 'Submitted' && (isOwner || isStageUser || currentUser?.IsSiteAdmin)">
                                        <span (click)="approveModel(file, currentFolder.DepartmentID)" class="model-approve-btn" matTooltip="{{stringMapper.getString('Approve', 'f')}} the Forecast Model">{{stringMapper.getString('Approve', 'f')}}</span> 
                                        <span (click)="rejectModel(file, currentFolder.DepartmentID)" class="model-reject-btn" matTooltip="{{stringMapper.getString('Reject', 'f')}} the Forecast Model">{{stringMapper.getString('Reject', 'f')}}</span>
                                    </p>
                                </div>
                                <div class="documents-files-item-model-actions">
                                    <div class="model-send-approve-icon" matTooltip="Send for {{stringMapper.getString('Approval', 'l')}}" *ngIf="file.ListItemAllFields?.ApprovalStatus?.Title != 'Submitted'" (click)="sendForApproval(file, currentFolder.DepartmentID)"></div>
                                    <div class="model-create-scenario-icon" matTooltip="Create Scenario" (click)="createScenario(file)"></div>
                                </div>
                            </div>
                            <div class="documents-files-item-comments">
                                <p *ngIf="file.Description">
                                    <label>Description: </label>{{file.Description}}
                                </p>
                                <ng-container *ngIf="file.ListItemAllFields?.Comments">
                                    <div *ngFor="let comment of file.lastComments" (click)="openCommentsDetail(file)" matTooltip="Open Comments Detail" class="comments-action">
                                        <p><label>{{comment.name}} at </label> {{ comment.createdAt | date : 'Y-M-d'}}</p>
                                        <p class="comment-text">{{comment.text}}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" matTooltip="Open file" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" matTooltip="Download file" (click)="openFile(file.ListItemAllFields.ID, true)"></div>
                                <div class="documents-files-item-icons-share" matTooltip="Share file" (click)="shareFile(file.ListItemAllFields.ID, currentFolder.DepartmentID)"></div>
                                <div class="documents-files-item-icons-edit" matTooltip="Edit file name" (click)="editFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-remove" matTooltip="Delete file" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </ng-container>
                    </div>
                    </ng-container>
                </div>
            </div>
            <!-- ACTIONS LIST -->
            <div *ngSwitchDefault>
                <div class="action-item" *ngFor="let action of currentActions">
                    <div class="action-item-name"><span>{{action.Title}}</span></div>
                    <div class="action-item-completed" *ngIf="action.Complete">
                        <label>Completed: </label>
                        {{action.Timestamp | date : 'Y-M-d'}}
                        <label> at </label>
                        {{action.Timestamp | date : 'HH:mm'}}
                        <label> by </label>
                        <ng-container *ngIf="action.TargetUser">{{action.TargetUser.FirstName + ' ' + action.TargetUser.LastName}}</ng-container>
                    </div>
                    <div class="action-item-completed" *ngIf="!action.Complete"><label>Not completed yet</label></div>
                    <div class="action-item-due" *ngIf="action.ActionDueDate">
                        <label class="duedate-warning" matTooltip="Please note that the due by date is currently scheduled to occur after the entire gate / phase has been reviewed." matTooltipClass='red-tooltip' *ngIf="afterGateDue(action.ActionDueDate); else simpleDueLabel">
                            Due by 
                            <span class="duedate-warning-icon">
                                <div class="action-item-status-icon"></div>
                            </span>
                        </label>
                        <ng-template #simpleDueLabel>
                            <label>Due by</label>
                        </ng-template>
                        <ngx-datepicker [(ngModel)]="action.ActionDueDate" (ngModelChange)="onDueDateChange(action.ID, $event)" [options]="dateOptions" *ngIf="isOwner || currentUser?.IsSiteAdmin"></ngx-datepicker>
                        <span *ngIf="!isOwner && !currentUser?.IsSiteAdmin">{{action.ActionDueDate | date: 'Y-M-d'}}</span>
                        
                    </div>
                    <div class="action-item-status">
                        <div class="action-item-status-button" (click)="toggleStatus(action)" [ngClass]="{ 'action-completed': action.status == 'completed', 'action-late': action.status == 'late', 'action-pending': action.status == 'pending'}">
                            <span>{{action.status}}</span>
                            <div class="action-item-status-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions-list-button" *ngIf="currentSection == 'actions' && currentGateProgress == 100 && currentGate?.ID == lastStageId && (isOwner || currentUser?.IsSiteAdmin)">
                <div class="action-item-next-button" (click)="goNextStage()" *ngIf="nextStage">
                    Go to Next Stage
                </div>
                <div class="action-item-next-button" (click)="completeOpportunity()" *ngIf="!nextStage && opportunity.OpportunityStatus == 'Active'">
                    Complete Opportunity
                </div>
            </div>
        </div>
        
    </div>
</div>
