<app-npp-header [isHome]="false"></app-npp-header>
<div class="opportunity-info-wrapper" *ngIf="opportunity">
    <div class="opportunity-name">
        <h2>{{opportunity.Title}}</h2>
        <div>
            <div class="opportunity-active" *ngIf="opportunity.opportunityStatus == 'Active'"></div>
            <div class="opportunity-archived" *ngIf="opportunity.opportunityStatus == 'Archived'"></div>
            {{opportunity.OpportunityStatus}}
            &nbsp;·&nbsp;
            <label>{{opportunity.OpportunityType.Title}}</label>
        </div>
    </div>
    <div class="opportunity-dates">
        <p><label>Project start: </label> {{opportunity.ProjectStartDate | date : 'MMM y'}}</p>
        <p><label>Project end: </label> {{opportunity.ProjectEndDate | date : 'MMM y'}}</p>
    </div>
    <div class="opportunity-molecule">
        <p><label>Molecule Name: </label> {{opportunity.MoleculeName}}</p>
        <p><label>Indication: </label> {{opportunity.Indication.Title}}</p> 
    </div>
    <div class="opportunity-owner">
        <div class="opportunity-owner-pic">
            <div class="opportunity-owner-pic-background"></div>
            <img [src]="opportunity.OpportunityOwner?.profilePicUrl"/>
        </div>
        <div class="opportunity-owner-info">
            <div class="opportunity-owner-info-title"><label>Opportunity Owner</label></div>
            <div class="opportunity-owner-info-name" *ngIf="opportunity.OpportunityOwner">
                {{opportunity.OpportunityOwner.FirstName + ' ' + opportunity.OpportunityOwner.LastName}}
            </div>
        </div>
    </div>
</div>
<div class="gates-and-actions-wrapper">
    <div class="gates-wrapper">
        <div class="gates-item-wrapper" *ngFor="let gate of gates">
            <div class="gates-item"  [ngClass]="{'selected-gate': currentGate && currentGate.ID === gate.ID, 'folders-visible': currentSection == 'documents'}" (click)="setGate(gate.ID)">
                <span>{{gate.Title}}</span>
                <svg *ngIf=" currentSection == 'documents' ">
                    <use xlink:href="assets/symbol-defs.svg#icon-chevron"></use>
                </svg>
            </div>
            <div class="folders-wrapper" *ngIf="currentSection == 'documents' && currentGate && currentGate.ID === gate.ID">
                <div class="folders-item" *ngFor="let folder of gate.folders" [ngClass]="{'selected-folder': currentFolder === folder.ID}" (click)="setFolder(folder.ID)">
                    <svg>
                        <use xlink:href="assets/symbol-defs.svg#icon-folder"></use>
                    </svg>
                    <span>{{folder.Title}}</span>
                    <img src="assets/user.svg"/>
                </div>
            </div>
        </div>
        <div class="next-stage-btn" (click)="nextStage()" *ngIf="currentGateProgress == 100 && currentGate?.ID == lastStageId">
            <div class="complete-btn-icon"></div>
            <span>Go to Next Stage</span>
        </div>
    </div>
    <div class="actions-wrapper">
        <div class="gate-info-wrapper">
            <div class="gate-info-review">
                <label>{{currentGate?.Title}} Review date: </label>
                {{currentGate?.StageReview | date : 'Y-M-d'}}
            </div>
            <div class="gate-info-progress">
                <label>{{currentGate?.Title}} Progress: </label>
                &nbsp;{{currentGateProgress}}%
                <app-progress-bar [progress]="currentGateProgress"></app-progress-bar>
            </div>
            <div class="gate-info-icons">
                <div class="gate-info-icons-upload" title="Upload file" (click)="openUploadDialog()"></div>
                <div class="gate-info-icons-actions" title="Actions list" (click)="setSection('actions')"></div>
                <div class="gate-info-icons-documents" title="Documents" (click)="showFolders()"></div>
                <div class="gate-info-icons-models" title="Models" (click)="showModels()"></div>
                <div class="gate-info-icons-refresh-bi" title="Refresh Power BI"></div>
                <div class="gate-info-icons-stage-settings" title="Stage Settings" (click)="openStageSettings()"></div>
            </div>
        </div>
        <div [ngSwitch]="currentSection">
            <!-- DOCUMENTS LIST -->
            <div *ngSwitchCase="'documents'">
                <div class="documents-files">
                    <app-progress-spinner *ngIf="loading"></app-progress-spinner>
                    <h3 *ngIf="currentFiles.length < 1 && currentFolder && !loading" style="text-align: center;">
                        No files are currently uploaded to <em>{{currentFolder.Title}}</em> folder
                    </h3>
                    <h3 *ngIf="currentFiles.length < 1 && !currentFolder && !loading" style="text-align: center;">
                        There are no stage folders or you don't have access to them 
                    </h3>
                    <div class="documents-files-item" *ngFor="let file of currentFiles">
                        <!-- NORMAL DOCUMENTS -->
                        <ng-container *ngIf="!displayingModels">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <p>
                                    <label>Uploaded at </label>{{file.TimeLastModified | date : 'Y-M-d'}} 
                                    <ng-container *ngIf="file.ListItemAllFields.Author"><label> by </label>
                                        {{file.ListItemAllFields.Author.FirstName + ' ' + file.ListItemAllFields.Author.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-comments">
                                <p *ngIf="file.ListItemAllFields.ModelApprovalComments">
                                    <label>Description: </label>
                                    {{file.ListItemAllFields.ModelApprovalComments}}
                                </p>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" title="Open file" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" title="Download file" (click)="openFile(file.ListItemAllFields.ID, true)"></div>
                                <div class="documents-files-item-icons-share" title="Share file" (click)="shareFile(file.ListItemAllFields.ID, currentFolder.ID)"></div>
                                <div class="documents-files-item-icons-remove" title="Delete file" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </ng-container>

                        <!-- FORECASTING MODELS -->
                        <ng-container *ngIf="displayingModels">
                            <div class="documents-files-item-name">
                                <p><label>Name: </label>{{file.Name}}</p>
                                <p>
                                    <label>Countries: </label>
                                    <ng-container *ngFor="let c of file.ListItemAllFields.Country; let $last = last">
                                        {{c.Title + ($last ? '' : ', ')}}
                                    </ng-container>
                                </p>
                                <p>
                                    <label>Scenarios: </label>
                                    <ng-container *ngFor="let s of file.ListItemAllFields.ModelScenario; let $last = last">
                                        {{s.Title + ($last ? '' : ', ')}}
                                    </ng-container>
                                </p>
                                <p>
                                    <label>Uploaded at </label>{{file.TimeLastModified | date : 'Y-M-d'}}
                                    <ng-container *ngIf="file.ListItemAllFields.Author"><label> by </label>
                                        {{file.ListItemAllFields.Author.FirstName + ' ' + file.ListItemAllFields.Author.LastName}}
                                    </ng-container>
                                </p>
                            </div>
                            <div class="documents-files-item-uploaded">
                                <p><label>Status: </label>{{file.ListItemAllFields?.ApprovalStatus}}</p>
                                <div class="documents-files-item-model-actions">
                                    <div class="npp-btn" (click)="sendForApproval(file)">Send for approval</div>
                                    <div class="npp-btn" (click)="createScenario(file)">Create Scenario</div>
                                </div>
                            </div>
                            <div class="documents-files-item-comments">
                                <p><label>Description: </label>{{file.description}}</p>
                                <p><label>Comments: </label>{{file.ListItemAllFields?.ModelApprovalComments}}</p>
                            </div>
                            <div class="documents-files-item-icons">
                                <div class="documents-files-item-icons-file" title="Open file" (click)="openFile(file.ListItemAllFields.ID)"></div>
                                <div class="documents-files-item-icons-download" title="Download file" (click)="downloadFile(file.ListItemAllFields.ID, false)"></div>
                                <div class="documents-files-item-icons-share" title="Share file" (click)="shareFile(file.ListItemAllFields.ID, currentFolder.ID)"></div>
                                <div class="documents-files-item-icons-remove" title="Delete file" (click)="deleteFile(file.ListItemAllFields.ID)"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- ACTIONS LIST -->
            <div *ngSwitchDefault>
                <div class="action-item" *ngFor="let action of currentActions">
                    <div class="action-item-name"><span>{{action.Title}}</span></div>
                    <div class="action-item-completed" *ngIf="action.Complete">
                        <label>Completed: </label>
                        {{action.Timestamp | date : 'Y-M-d'}}
                        <label> at </label>
                        {{action.Timestamp | date : 'HH:mm'}}
                        <label> by </label>
                        <ng-container *ngIf="action.TargetUser && action.TargetUser.ID">{{action.TargetUser.FirstName + ' ' + action.TargetUser.LastName}}</ng-container>
                    </div>
                    <div class="action-item-completed" *ngIf="!action.Complete">Not completed yet</div>
                    <div class="action-item-due" *ngIf="action.ActionDueDate">
                        <label>Due by </label>
                        <ngx-datepicker [(ngModel)]="action.ActionDueDate" (ngModelChange)="onDueDateChange(action.ID, $event)" [options]="dateOptions" *ngIf="isOwner"></ngx-datepicker>
                        <span *ngIf="!isOwner">{{action.ActionDueDate | date: 'Y-M-d'}}</span>
                    </div>
                    <div class="action-item-complete" (click)="toggleStatus(action)" [ngClass]="{ 'action-completed': action.status == 'completed', 'action-late': action.status == 'late', 'action-pending': action.status == 'pending'}">
                        <span>{{action.status}}</span>
                        <div class="action-item-status-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-stage-btn-wrapper">
            <div class="npp-btn" (click)="nextStage()" *ngIf="currentGateProgress == 100 && currentGate?.ID == lastStageId">Go to Next Stage</div>
        </div>
    </div>
</div>
